@page "/products"
@inherits LayerComponentBase
@namespace BlazorDemo.Client.Components

<MainLayout Title="@this.Title">

    <TopContent>
        <Toolbar Buttons="@toolbar" />

        <Rail>
            <InputStringNullable AutoFocus FocusID="name" Caption="Name" FieldExpression="() => Model.SearchText" Width="200" />
            <InputInt32Nullable Caption="Product number" FieldExpression="() => Model.SearchProductID" Width="100" />
        </Rail>

        <ButtonBar>
            <Button Default ButtonClicked="SearchClicked">Search</Button>
            <Button ButtonClicked="ClearClicked">Clear</Button>
        </ButtonBar>

    </TopContent>
    <FillContent>

        <HyperGrid FocusID="datagrid"
                   ItemType="SearchProductsRecord"
                   Data="@this.data"
                   RowDoubleClicked="EditClicked" />

    </FillContent>

</MainLayout>
