@namespace Kenova.Client.Components
@inherits KenovaComponentBase

<div id="@container_id" class="kn-radio-list columnar">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

