@namespace Kenova.Client.Components
@inherits KenovaComponentBase

@if (Link.IsValidating)
{
    <svg class="kn-minispinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5" />
    </svg>

}
else
{
    <div class="kn-remark-container @(this.WordWrap ? "wordwrap" : "nowrap" ) @(Link.IsValid ? " " : " invalid" )">
        @Link.RemarkText
    </div>
}







