@namespace Kenova.Client.Authorization
@inherits KenovaComponentBase
@attribute [AllowAnonymous]

@*<LayoutView Layout="@typeof(PortalLayout)">

    <MainLayout DisplayHeader="false">
        <FillContent>
*@   			<div style="padding:20px">
				<header>Sorry</header>
				<p>You're not authorized to reach this page.</p>
				<p>You may need to log in as a different user.</p>
			</div>
@*        </FillContent>
    </MainLayout>

</LayoutView>
*@



