@namespace Kenova.Client.Authorization
@inherits KenovaComponentBase

<LayoutView Layout="@typeof(PortalLayout)">

    <MainLayout DisplayHeader="false">
        <FillContent>
            <p>Sorry, there's nothing at this address.</p>
        </FillContent>
    </MainLayout>

</LayoutView>


 