@namespace Workflows.Client.Components
@inherits KenovaComponentBase

<div id="@_container_id" style="width:100%;height:100%">
    <canvas id="@_canvas_id" width="200" height="200" style="background-color:#F0F0F0" />
</div>


