@namespace BlazorDemo.Client.Components
@inherits LayerComponentBase
@implements IDisposable

<div style="padding:20px">

    @if (Number > 0)
    {
    <h2>Overlay@(Number)</h2>
    }

    <OptionGroup SelectedExpression="() => this.Mode">
        <OptionButton Identifier="Modal">Modal</OptionButton>
        <OptionButton Identifier="ModalFullsize">ModalFullsize</OptionButton>
        <OptionButton Identifier="ModelessRight">ModelessRight</OptionButton>
        <OptionButton Identifier="Dropdown">Dropdown</OptionButton>
        <OptionButton Identifier="DropdownBalloon">DropdownBalloon</OptionButton>
    </OptionGroup>

    <ButtonBar>
        <Button @ref="@BtnOpen" ButtonClicked="OpenOverlay">Open overlay</Button>
    </ButtonBar>

    <p style="max-width: 480px;">
        Any layer kind can be overlayed on the previous layer, but not all combinations
        work visually. For example, a ModelessRight on top of a Modal (window) looks
        wrong aesthetically.
    </p>

</div>

