@page "/"
@using BlazorDemo.Client.VenturaAutoCreate
@inherits KenovaDialogBase
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]

<MainLayout DisplayHeader="false">
    <FillContent>

        <header>
            Welcome to Kenova for Blazor
        </header>

        Netherlands, 20 November 2023

        <p>
            This is the presentation site for the Blazor edition of Kenova. Kenova is a framework for
            the rapid development of Line of Business software running runs cross-platform on any browser.
            Kenova uses Blazor WebAssembly to run C# code in any web browser.
        </p>

        <p>
            I started writing the framework in January 2020, a few months before the first official release of Blazor.
            At that time I was not up to speed in JavaScript frameworks. Initially I naively thought that Blazor enabled
            me to develop web applications without the need to learn JavaScript. But once I started writing more
            advanced components, I had to learn to write more and more JavaScript.
        </p>
        <p>
            I think that Blazor combined with a component library is great to rapidly develop administrative software.
            Using ready made components, one might be able to avoid JavaScript altogether. But for advanced components
            where a lot of JavaScript code and JavaScript interop is needed, you may be better off
            with a full JavaScript framework. I am currently converting Kenova to the Svelte framework.
        </p>

        <p>
            See <a href="https://site.sysdev.nl" target="_blank">sysdev.nl</a> for my contact details.
        </p>

        <p>
            Frank Th. van de Ven
        </p>

        <FeatureTiles MenuItems="@MenuItems" TileClicked="TileClicked" />

        <br />

        <InfoBlock Kind="InfoKind.Information">
            <header>Upcoming features</header>
            <ul>
                <li>Kenova for Svelte.</li>
            </ul>
        </InfoBlock>

        <InfoBlock Kind="InfoKind.Warning">
            <header>Known issues</header>
            <ul>
                <li>None.</li>
            </ul>

        </InfoBlock>


    </FillContent>

</MainLayout>


