@page "/"
@using BlazorDemo.Client.VenturaAutoCreate
@inherits LayerComponentBase
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]

<MainLayout DisplayHeader="false">
    <FillContent>

        <header>
            Welcome to Kenova
        </header>

        @*       <FlexList ItemType="Pet" AutoFocus Items="@pets" RowClicked="XRowClicked">
            <ItemTemplate Context="pet">
            @{
            int index = pets.IndexOf(pet);

            }
            <div>
            <p>@pet.PetId</p>
            @if (index == 1)
            {
            <p>Extra line of data. Extra line of data. Extra line of data. Extra line of data. Extra line of data. </p>
            }
            <p>@pet.Name</p>
            </div>
            </ItemTemplate>
            </FlexList>*@

        Netherlands, 26 December 2021

        <p>
            This is the presentation site for the Kenova project. Kenova is a complete system for the
            rapid development of Line of Business software for Microsoft Blazor WebAssembly and Blazor Desktop.
        </p>
        <p>
            Blazor WebAssembly allows us to run C# in any web browser.
        </p>

        <InfoBlock Kind="InfoKind.Error">
            <header>Unstable builds for a few days</header>
            <p>
                Kenova is being adapted to run in a WebView2. This paves the way to use Kenova for building Windows Desktop apps.
                Between 22 December and 1 January the uploaded demo builds will be buggy and unstable.
                Uploading to the live server allows me to rapidly test on multiple devices.
                <br />
                The main change is that all JavaScript interfacing is done out-of-process and must be converted to async calls.
                Before I used in-process calls wherever possible.
            </p>
        </InfoBlock>



        <ul>
            <li>
                See <a href="https://site.sysdev.nl" target="_blank">sysdev.nl</a> for more information and my contact details.
            </li>
            <li>
                Kenova is optimized for runtime performance and developer productivity.
                The API is Kenova's best feature.
            </li>
            <li>
                Functionality is almost complete.
            </li>
        </ul>

        <p>
            Frank Th. van de Ven
        </p>

        <FeatureTiles MenuItems="@MenuItems" TileClicked="TileClicked" />

        <br />

        <InfoBlock Kind="InfoKind.Information">
            <header>Upcoming features</header>
            <ul>
                <li>Responsive layout for mobile devices and tablets;</li>
                <li>Notifications dialog;</li>
                <li>Treeview component;</li>
                <li>NuGet packages for the Kenova client and server bits;</li>
                <li>Visual Studio project templates for Kenova projects;</li>
                <li>Product documentation;</li>
            </ul>
        </InfoBlock>

        <InfoBlock Kind="InfoKind.Warning">
            <header>Known issues</header>
            <ul>
                <li>None.</li>
            </ul>

        </InfoBlock>


    </FillContent>
</MainLayout>


