@page "/"
@using BlazorDemo.Client.VenturaAutoCreate
@inherits KenovaDialogBase
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]

<MainLayout DisplayHeader="false">
    <FillContent>

        <header>
            Welcome to Blazor Demo
        </header>

        <div style="font-size:18px;margin-right:50px;margin-bottom:50px">

            <p>
                Netherlands, 20 November 2023
            </p>
            <p>
                This website serves as a showcase for my Blazor programming work.
                I've personally developed all the components featured on this site,
                and it is entirely constructed using C# and JavaScript without the use of external frameworks.
            </p>
            <p>
                The source code is on <a href="https://github.com/frankthvandeven/BlazorDemo.com" target="_blank">GitHub</a>.
            </p>
            <p>
                I started writing code for Blazor in January 2020, just a few months prior to its official release.
                During that period, my familiarity with JavaScript was limited.
                Initially I naively thought that Blazor would allow me to create web applications without delving into JavaScript.
                However, as I began developing more sophisticated components,
                I found myself progressively learning and incorporating more JavaScript into my work.
            </p>
            <p>
                For anyone wishing to develop a web application without JavaScript programming, I wholeheartedly recommend opting for Blazor
                in combination with off the shelf components. These components are available both open-source and commercially.
            </p>
            <p>
                For development teams, it's possible to assign the task of writing advanced components to a JavaScript developer,
                while the rest of the team writes the business logic in C#.
            </p>

            <p>
                See <a href="https://site.sysdev.nl" target="_blank">sysdev.nl</a> for my contact details.
            </p>

            <p>
                Frank Th. van de Ven
            </p>
        </div>

        <FeatureTiles MenuItems="@MenuItems" TileClicked="TileClicked" />

        <br />

        <InfoBlock Kind="InfoKind.Warning">
            <header>Known issues</header>
            <ul>
                <li>The initial loading page was removed. Have to figure out how to do that one in .NET8</li>
            </ul>

        </InfoBlock>


    </FillContent>

</MainLayout>


