@page "/treeview"
@inherits LayerComponentBase
@using BlazorDemo.Client.Components
@using BlazorDemo.Client.VenturaAutoCreate
@inject NavigationManager NavigationManager

<MainLayout Title="TreeView preview">
    <FillContent>
        <p>
            The TreeView component is under construction, and this is a preview version.
        </p>
        <p>
            The preview already illustrates that the component is going to be very fast.
        </p>
        <p>
            Displaying @this.Model.Recordset.RecordCount customers from the BikeStores database.
        </p>
<pre>
await Recordset.ExecSqlAsync(null, null);

foreach (var cust in Recordset)
{
    Data.AddDataItem($"Customers\\{cust.state}\\{cust.city}", cust.last_name + " " + cust.first_name, cust);
}
</pre>
        <p></p>

        <TreeView Data="@this.Model.Data" />

    </FillContent>
</MainLayout>




