@page "/orders"
@inherits LayerComponentBase
@namespace BlazorDemo.Client.Components

<MainLayout Title="@this.Title">

    <TopContent>
        <Toolbar Buttons="@toolbar" />

        <Rail>
            <InputStringNullable AutoFocus FocusID="searchtext" Caption="Name" FieldExpression="() => Model.SearchText" Width="200" />
            <InputInt32Nullable Caption="Order number" FieldExpression="() => Model.SearchOrderID" Width="100" />
        </Rail>

        <ButtonBar>
            <Button Default ButtonClicked="SearchClicked">Search</Button>
            <Button ButtonClicked="ClearClicked">Clear</Button>
        </ButtonBar>


    </TopContent>

    <FillContent>

        <HyperGrid FocusID="datagrid"
                   ItemType="SearchOrdersRecord"
                   Data="@this.Data"
                   RowDoubleClicked="EditClicked" />

    </FillContent>

</MainLayout>
