@page  
@model Kenova.KenSys.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>

<p>Het werkt, dit is page1</p>
    <p>Name @Model.Name</p>

<a href="/">Back to root</a>


</body>
</html>
