@page "/customers"
@namespace BlazorDemo.Client.Components
@inherits KenovaDialogBase

<MainLayout Title="@this.Title">
    <TopContent>
        <Toolbar Buttons="@toolbar" />
        <Rail>
            <InputStringNullable AutoFocus FocusID="name" Caption="Name" FieldExpression="() => Model.SearchName" Width="180" />
            <InputInt32Nullable Caption="Customer" FieldExpression="() => Model.SearchCustomerId" Width="80" />
        </Rail>


        <ButtonBar>
            <Button Default ButtonClicked="async () => await SearchClickedAsync()">Search</Button>
            <Button ButtonClicked="ClearClicked">Clear</Button>
        </ButtonBar>

    </TopContent>

    <FillContent>

        <HyperGrid FocusID="datagrid" DebugName="SearhCustomers"
                   @ref="_hypergrid"
                   ItemType="SearchCustomersRecord" Data="@this.Data"
                   RowDoubleClicked="RowDoubleClicked" />

    </FillContent>

</MainLayout>
