@page "/customers"
@namespace BlazorDemo.Client.Components
@inherits LayerComponentBase

<MainLayout Title="@this.Title">
    <TopContent>
        <Toolbar Buttons="@toolbar" />

        <Rail>
            <InputStringNullable AutoFocus FocusID="name" Caption="Name" FieldExpression="() => Model.SearchName" Width="180" />
            <InputInt32Nullable Caption="Customer" FieldExpression="() => Model.SearchCustomerId" Width="80" />
        </Rail>

        <ButtonBar>
            <Button Default ButtonClicked="SearchClicked">Search</Button>
            <Button ButtonClicked="ClearClicked">Clear</Button>
        </ButtonBar>

    </TopContent>

        <FillContent>

            <HyperGrid FocusID="datagrid"
                       @ref="_hypergrid"
                       ItemType="SearchCustomersRecord" Data="@this.Data"
                       RowDoubleClicked="RowDoubleClicked" />

        </FillContent>

</MainLayout>
